<h2 class="text-center mb-4">Welche Streaming-Dienste nutzen Sie?</h2>

<div class="card shadow-sm">
    <div class="card-body p-3 p-md-4">
        <form class="container-fluid px-0"> 
            <div class="row">
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="8" id="netflix">
                        <label class="form-check-label fs-5" for="netflix">Netflix</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="9" id="prime">
                        <label class="form-check-label fs-5" for="prime">Prime Video</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="337" id="disney">
                        <label class="form-check-label fs-5" for="disney">Disney+</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="350" id="appletv">
                        <label class="form-check-label fs-5" for="appletv">Apple TV+</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="384" id="hbomax">
                        <label class="form-check-label fs-5" for="hbomax">HBO Max</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="15" id="hulu">
                        <label class="form-check-label fs-5" for="hulu">Hulu</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="531" id="paramount">
                        <label class="form-check-label fs-5" for="paramount">Paramount+</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="386" id="peacock">
                        <label class="form-check-label fs-5" for="peacock">Peacock</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Streaming" value="462" id="dazn">
                        <label class="form-check-label fs-5" for="dazn">DAZN</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
