{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-12 col-md-10 col-lg-8">
        

        <!-- Card mit den Checkboxen -->
        <!-- hier kommen dynamisch die Frageblöcke hin -->
        {% include block_to_include %}
        <!-- Navigation Buttons unter der Card -->
        <form method="POST" action="/">
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" name="navigation" value="prev" class="btn btn-primary btn-lg px-4">Zurück</button>
                <button type="submit" id="skipbtn" class="btn btn-light btn-lg px-4 d-none d-sm-block">Überspringen</button>
                <button type="submit" name="navigation" value="next" class="btn btn-primary btn-lg px-4">Weiter</button>
            </div>
        </form>
        <!-- Überspringen Button für mobile Ansicht -->
        <div class="text-center mt-3 d-sm-none">
            <button type="button" class="btn btn-light btn-lg px-4 w-100">Überspringen</button>
        </div>
    </div>
</div>

{% endblock %}